[diff]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	name = Niccolò Zanotti
	email = niccolo.zanotti@protonmail.com
	signingkey = 60220A4495DE4147
[core]
	compression = 0
	autocrlf = input
[alias] 
	ci = commit
	ps = push
       
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
