[diff]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	name = Niccolo' Zanotti
	email = niccolo.zanotti@icloud.com
	signingkey = 4A4DE7E346ED08FA
[core]
	compression = 0
	autocrlf = input
[alias] 
	ci = commit
	ps = push
       
[commit]
	gpgsign = true
	template = ~/.git_commit_msg
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
